# 🔧 Configurações de Conexão com o Banco de Dados
MONGODB_URI=mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/?retryWrites=true&w=majority

# 🔐 Configuração do JWT
JWT_SECRET=coloque_sua_chave_jwt_aqui
JWT_EXPIRES_IN=7d

# 🚀 Configuração do Servidor
PORT=3000

# 🔑 Chave Mestra (usada para criar usuários admin)
MASTER_KEY=coloque_sua_master_key_aqui

# 🔒 Chave de API (para autenticação de dispositivos, sensores, etc.)
X_API_KEY=coloque_sua_api_key_aqui
